.circle{
	width:500px;
	height:500px;
	border-radius:250px;
}
.circle1{
	width:100px;
	height:100px;
	background-color:red;
	border-radius:50px;
}
.circle2{
	width:100px;
	height:100px;
	background-color:blue;
	border-radius:50px;
}
.circle3{
	width:100px;
	height:100px;
	background-color:green;
	border-radius:50px;
}
.circle4{
	width:100px;
	height:100px;
	background-color:yellow;
	border-radius:50px;
}
.circle5{
	width:100px;
	height:100px;
	background-color:purple;
	border-radius:50px;
}
	