.container{
	width:1200px;
	height:150px;
	
}
.box1{
	width:350px;
	height:150px;
	border:2px solid orange;
	float:left;
}
.box2{
	width:350px;
	height:150px;
	border:2px solid green;
	float:left;
}
.box3{
	width:350px;
	height:150px;
	border:2px solid blue;
	float:left;
	background-color:green;
}