.container{
	width:550px;
	height:150px;
	border:10px solid skyblue;
}
.box1{
	width:100px;
	height:150px;
	background-color:red;
	float:left;
}
.box2{
	width:450px;
	height:150px;
	background-color:black;
	margin-left:0px;
	float:left;
}